Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
numpy
openpyxl==3.0.3
requests==2.23.0
Unipath==1.1
unipath==1.1
xlrd==1.2.0
tensorflow
gensim
twitter_scraper
tqdm